---
title: "Chào bạn đến với trang web của tôi!"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/wall.png
  actions:
    - label: "Tặng cà phê"
      url: "https://www.buymeacoffee.com/phucvr"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Đây là nơi tôi muốn chia sẻ những kiến thức về lập trình, mã nguồn mở và những kỹ năng mềm khác với mọi người. Nếu bạn cảm thấy nội dung hữu ích, thì rất hi vọng bạn có thể chia sẻ điều này với bạn bè hoặc mời mình một tách cà phê. Cảm ơn vì đã ghé thăm và ủng hộ!"
intro: 
  - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row:
  - image_path: assets/images/unsplash-gallery-image-1-th.jpg
    alt: "placeholder image 1"
    title: "Placeholder 1"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Placeholder 2"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
feature_row2:
  - image_path: /assets/images/OpenBook.png
    alt: "placeholder image 2"
    title: "Design Patterns Tiếng Việt"
    excerpt: 'Đây là một dự án xây dựng quyển sách mở về Design Pattern, nhằm cung cấp tài liệu chất lượng hoàn toàn miễn phí cho ngành lập trình ở Việt Nam'
    url: "https://github.com/nguyenphuc22/Design-Patterns/blob/main/README.md"
    btn_label: "Đọc Thêm"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Right Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Right aligned with `type="right"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/unsplash-gallery-image-2-th.jpg
    alt: "placeholder image 2"
    title: "Placeholder Image Center Aligned"
    excerpt: 'This is some sample content that goes here with **Markdown** formatting. Centered with `type="center"`'
    url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

<!-- {% include feature_row id="intro" type="center" %} -->

<!-- {% include feature_row %} -->

{% include feature_row id="feature_row2" type="left" %}

<!-- {% include feature_row id="feature_row3" type="right" %} -->

<!-- {% include feature_row id="feature_row4" type="center" %} -->